<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simpleredirects/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleRedirects
 * @copyright     Copyright (C) 2020 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AuroraExtensions\SimpleRedirects\Api\RuleRepositoryInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Repository\RuleRepository"/>
    <preference for="AuroraExtensions\SimpleRedirects\Api\Data\RuleInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Data\Rule"/>
    <preference for="AuroraExtensions\SimpleRedirects\Api\Data\RuleSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\SimpleRedirects\Csi\Config\ModuleConfigInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Config\ModuleConfig"/>
    <preference for="AuroraExtensions\SimpleRedirects\Csi\Validator\RuleValidatorInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Validator\Rule\RuleValidator"/>
    <preference for="AuroraExtensions\SimpleRedirects\Csi\Validator\MatchValidatorInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Validator\Match\MatchValidator"/>
    <preference for="AuroraExtensions\SimpleRedirects\Csi\Validator\RegexValidatorInterface"
                type="AuroraExtensions\SimpleRedirects\Model\Validator\Regex\RegexValidator"/>

    <type name="AuroraExtensions\SimpleRedirects\Csi\Config\ModuleConfigInterface">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="redirect_types" xsi:type="array">
                    <item name="301" xsi:type="string">301 [Permanent]</item>
                    <item name="302" xsi:type="string">302 [Temporary]</item>
                </item>
                <item name="rule_types" xsi:type="array">
                    <item name="path" xsi:type="string">Path</item>
                    <item name="query" xsi:type="string">Query Parameter</item>
                    <item name="host" xsi:type="string">Host</item>
                </item>
                <item name="match_types" xsi:type="array">
                    <item name="equal" xsi:type="string">Is Equal To</item>
                    <item name="not_equal" xsi:type="string">Is Not Equal To</item>
                    <item name="contains" xsi:type="string">Contains</item>
                    <item name="not_contains" xsi:type="string">Does Not Contain</item>
                    <item name="regex_match" xsi:type="string">Matches Regex</item>
                    <item name="not_regex_match" xsi:type="string">Does Not Match Regex</item>
                </item>
                <item name="priorities" xsi:type="array">
                    <item name="1" xsi:type="number">1</item>
                    <item name="2" xsi:type="number">2</item>
                    <item name="3" xsi:type="number">3</item>
                    <item name="4" xsi:type="number">4</item>
                    <item name="5" xsi:type="number">5</item>
                    <item name="6" xsi:type="number">6</item>
                    <item name="7" xsi:type="number">7</item>
                    <item name="8" xsi:type="number">8</item>
                    <item name="9" xsi:type="number">9</item>
                    <item name="10" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleRedirects\Csi\Validator\RuleValidatorInterface">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="methods" xsi:type="array">
                    <item name="path" xsi:type="string">getPath</item>
                    <item name="query" xsi:type="string">getQuery</item>
                    <item name="host" xsi:type="string">getHost</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleRedirects\Csi\Validator\MatchValidatorInterface">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="methods" xsi:type="array">
                    <item name="equal" xsi:type="string">isEqual</item>
                    <item name="not_equal" xsi:type="string">isNotEqual</item>
                    <item name="contains" xsi:type="string">isContains</item>
                    <item name="not_contains" xsi:type="string">isNotContains</item>
                    <item name="regex_match" xsi:type="string">isRegexMatch</item>
                    <item name="not_regex_match" xsi:type="string">isNotRegexMatch</item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AuroraExtensions\SimpleRedirects\Ui\Component\Control\Rule\SaveButton"
                 type="AuroraExtensions\SimpleRedirects\Ui\Component\Control\SaveButton">
        <arguments>
            <argument name="components" xsi:type="array">
                <item name="simpleRedirectsAjaxSaveRedirect" xsi:type="array"/>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Ui\Component\Control\Rule\CancelButton"
                 type="AuroraExtensions\SimpleRedirects\Ui\Component\Control\CancelButton">
        <arguments>
            <argument name="route" xsi:type="string">simpleredirects/rule/index</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Ui\Component\Control\Rule\DeleteButton"
                 type="AuroraExtensions\SimpleRedirects\Ui\Component\Control\DeleteButton">
        <arguments>
            <argument name="buttonId" xsi:type="string">rule-edit-delete-button</argument>
            <argument name="components" xsi:type="array">
                <item name="simpleRedirectsAjaxDeleteRule" xsi:type="array"/>
            </argument>
            <argument name="route" xsi:type="string">simpleredirects/rule/deletePost</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\RedirectType"
                 type="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\Generic">
        <arguments>
            <argument name="key" xsi:type="string">redirect_types</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\RuleType"
                 type="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\Generic">
        <arguments>
            <argument name="key" xsi:type="string">rule_types</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\Priority"
                 type="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\Generic">
        <arguments>
            <argument name="key" xsi:type="string">priorities</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\MatchType"
                 type="AuroraExtensions\SimpleRedirects\Model\Config\Source\Select\Generic">
        <arguments>
            <argument name="key" xsi:type="string">match_types</argument>
        </arguments>
    </virtualType>
</config>
